

.vehicle-selector {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 300px; /* Adjust maximum width as needed */
  margin: 0 auto; /* Center the component */
}

.dropdown-container {
  position: relative;
  margin-bottom: 20px;
}

.dropdown-btn {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: left;
}

.dropdown-btn:focus {
  outline: none;
}

.dropdown-list {
  position: absolute;
  top: calc(100% + 5px); /* Adjust the spacing between button and dropdown */
  right: 0; /* Align dropdown to the right */
  z-index: 10;
  width: 200px; /* Adjust dropdown width as needed */
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.dropdown-list li {
  padding: 10px;
}

.dropdown-list li button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.selected-vehicle {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


